@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Customer Feedback Application</h1>

    @if (!User?.Identity?.IsAuthenticated == true)
    {
        <p>
            <a asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a> to access the Feeback Application tab so you can manage your comments. Additional Note: Please confirm your account after Registration to get access.
        </p>
    }
    else
    {
        <p>
            Click on top tab Feedback to manage your comments. Enjoy!
        </p>
    }
</div>
